/* ===============
     #GLOBAL #FOOTER
  =============== */
 
.g-footer {
    display: flex;
    padding-top: 0.5rem;
    border-top: 1px solid var(--themeActiveTrimColor);
    margin: 0.5rem 0 0;
    grid-area: footer;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
 
.g-footer__credit {
    text-align: center;
    font-size: 0.7rem;
    font-size: var(--smallerTextSize);
}