 /* ===============
     #CONTENT #ENTRY #HEADER 
  =============== */
 
 .entry-header {
   margin-bottom: 0.618rem;
   border-bottom: var(--thickerTextBorder) solid;
   font-size: 0.7rem;
   text-align: left;
 }
 
 .entry-title {
   padding-bottom: .1em;
   margin: 0;
   font-size: var(--biggestTitleSize);
 }

.entry-title a {
    display: block;
}

.entry-header-archive .entry-title {
  padding: 0;
  padding-bottom: 10px;
  font-size: var(--bigTitleSize);
  font-weight: 300;
  letter-spacing: -1px;
}

.entry-header-archive {
  font-size: var(--smallerTextSize);
}

 /* === Post Header === */

 span.entry-terms {
     display: inline-block;
     margin: .618em 0;
 }
 
 span.entry-terms.category a,
 .entry-terms.post_tag a {
   padding: .318em;
   margin-left: 3px;
   border: 1px solid var(--themeActiveLinkColor);
   border-radius: 5px;
   font-size: var(--textSizeSmall);
   color: var(--themeActiveLinkColor);
 }
 
 span.entry-terms.category a:hover,
 .entry-terms.post_tag a:hover {
   background: var(--themeActiveAccentColor);
 }

  .entry-header-archive {
   flex-basis: 20%;
   margin-left: 1rem;
 }
 
 .entry-header-archive a {
   color: #373737;
   color: var(--themeActiveTextColor);
 }

.entry-header-archive + a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}


.entry-header-archive + a:hover,
.entry-header-archive + a:focus,
.entry-header-archive + a:active {
    border-bottom-color: transparent;
}