 /* ===============
     #CONTENT #ENTRY #FOOTER 
  =============== */
 
 .entry-footer {
   padding-bottom: 5px;
   font-size: 0.8rem;
   color: var(--themeActiveTextColor);
   letter-spacing: -1px;
 }

  /* === Post Footer === */
 .entry-footer {
   padding-bottom: 5px;
   font-size: 0.8rem;
   color: var(--themeActiveTextColor);
   letter-spacing: -1px;
 }