/* === Post content and excerpts === */
 
.more-link {
    margin-top: .618em;
}
 
.more-link a {
    display: inline-block;
    color: #fefefe;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: var(--smallerTextSize);
    padding: 0.618em .618rem;
    border-bottom: none;
    border-radius: 2px;
    background: var(--themeActiveLinkColor);
}
 
.more-link a:hover,
.more-link a:focus {
    color: #fefefe;
    border-bottom: none;
    background: var(--themeActiveLinkColorHover);
}

.entry-content ul,
.wp-block-heading {
    margin-bottom: .618em;
}

.articleTOC {
    font-size: var(--smallTextSize);
    padding: var(--entryBoxPadding);	
    border: var(--entryBoxBorderThickness) solid var(--themeActiveAccentColor);
    margin-top: var(--entryBoxMarginVertical);
    margin-bottom: var(--entryBoxMarginVertical);
}

.articleTOC__list {
    --tocItemIndent: 1.618em;

    list-style: none;
}

.articleTOC__item {
    line-height: var(--baseLineHeight);
    margin-bottom: .25ex;
}

.articleTOC__item--biggest {
    font-size: var(--biggestTextSize);
}

.articleTOC__item--bigger {
    font-size: var(--biggerTextSize);
    margin-left: var(--tocItemIndent);
}

.articleTOC__item--big {
    font-size: var(--bigTextSize);
    margin-left: calc(var(--tocItemIndent) * 2);
}

.articleTOC__item--base {
    font-size: var(--baseTextSize);
    margin-left: calc(var(--tocItemIndent) * 3);

}

@media screen and (width >= 768px) {
    .articleTOC {
        margin-right: 14vw;
        margin-left: -7vw;
    }
}

/* ===============
     #Reading time
  =============== */

.rt-reading-time {
    font-style: italic;
    font-size: var(--smallerTextSize);
    margin-bottom: .2em;
}

.disclaimer {
    font-style: oblique;
    font-size: var(--smallTextSize);
}

.disclaimer p {
    line-height: var(--smallLineHeight);
}


/* CODE DEMOS 
This is only for creating small demos of editable code
uses <figure class="demo">
*/
.code-demo {
    padding: var(--baseSpacingHorizontal);
    width: 75%;
    background-color: rgba(var(--themeActivePltNHighest), .3);
    border: var(--thickTextBorder) solid currentColor;
    border-radius: 3px;
    margin: var(--baseSpacingVertical) auto;
}

.code-demo style[contenteditable] {
    position: relative;
    font-family: "Source Code Pro", "Liberation Mono", "Courier New", Courier, monospace;
    font-size: var(--smallerTextSize);
    line-height: 1.35;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0 .75rem;
    background-color: var(--themeActiveTrimColor);
    outline: 1px solid hsla(from var(--baseHighlightColor) h s l / .2);
    border-radius: 1px;
    caret-color: var(--baseHighlightColor);
}

.code-demo style[contenteditable]:hover {
    color: var(--themeActivePltNLower);
    background-color: var(--themeActiveTrimColor);
    outline-color: hsla(from var(--baseHighlightColor) h s l/ .7);
}

.code-demo style[contenteditable]:is(:focus, :active) {
    color: var(--themeActivePltNLow);
    background-color: var(--themeActivePltNLow);
    outline-color: hsla(from var(--baseHighlightColor) h s l / 1);
}

.code-demo style[contenteditable]::before,
.code-demo style[contenteditable]::after {
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: var(--smallestTextSize);
    font-family: var(--baseFontFamily);
    text-align: center;
    padding: .618em;
    width: 3.75em;
    background-color: var(--themeActiveBGColor);
}

.code-demo style[contenteditable]::before {
    content: 'Styles';
    left: 0;
}

.code-demo style[contenteditable]::after {
    content: 'Editable';
    right: 0;
}

.code-demo style[contenteditable]:is(:focus, :active)::after {
    content: 'editing';

}