/* === SOURCES === */

.sources {
    font-size: var(--smallestTextSize);
    padding: var(--entryBoxPadding);
    border: var(--entryBoxBorderThickness) solid var(--themeActiveAccentColor);
    margin-top: var(--entryBoxMarginVertical);
    margin-bottom: var(--entryBoxMarginVertical);
}

.sources li,
.sources p {
    padding: .25em var(--baseSpacingHorizontal);
}

.sources p {
    margin-bottom: 0;
}

.sources p small {
    display: inline-block;
    text-indent: -1em;
    font-size: var(--baseTextSize);
}

.sources cite {
    display: inline;
    text-align: left;
}

.sources :target {
    border-radius: 3px;
    background-color: rgba(89, 162, 178, 0.1);
}

.sources li:target,
.sources p:target {
    padding-top: var(--baseSpacingVertical);
    padding-bottom: var(--baseSpacingVertical);
}