.archive-title {
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: .618em 0 0;
    margin-bottom: 0;
}
 
.archive-description {
    font-style: italic;
    font-size: 0.8rem;
}
 
#search-bar {
    float: right;
}