.widget {
    padding-block-start: .618em;
    border: 2px solid var(--themeActiveTrimColor);
    border-radius: 5px;
    margin-block-end: 1.618em;
}

.widget-title {
    overflow: hidden;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.2rem;
    padding-bottom: 7px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 7px;
}

.widget-title > span::after {
    left: 100%;
}
 
.widget-title > span::before {
    right: 100%;
}


 
.widget select {
    width: 95%;
}
 
.widget .search-submit {
    display: none;
}
 
.widget .search-field {
    width: 100%;
}
  
.widget ul {
    list-style-type: none;
}

.widget li {
    list-style-position: inside;
    text-indent: 0;
    font-size: 0.8rem;
    font-size: var(--smallTextSize);
    line-height: 1.2;
    line-height: var(--smallLineHeight);
    margin-bottom: 0.618em;
}