/**
  * Comments Template
  * --------------------------------------------------------------------------- */
 
.commentsTemplate {
    padding: .618em 0;
    border-top: 6px solid var(--themeActiveAccentColor);
    margin: 1rem 0;
}

/* ====== RESPOND (COMMENT FORM) ====== */

.comment-respond {
    --fieldActiveColor: hsl(150deg, 61%, 44%);

    padding: 0 .618rem;
}

.comment-respond__notes {
    font-weight: normal;
    font-style: italic;
    font-size: var(--smallestTitleSize);
    line-height: var(--smallLineHeight);
    border: none;
    margin: 0 0 .618em;
}

.comment-respond__field {
    display: flex;
    flex-direction: column;
    margin-bottom: .618rem;
}


.comment-respond__fieldName {
    text-decoration-color:transparent;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.comment-respond__field:focus-within .comment-respond__fieldName {
    text-decoration-color: var(--fieldActiveColor);
}

.comment-respond__fieldInput {
    border-radius: 3px;
}

.comment-respond__submitFields {
    padding: 0;
    border: none;
    margin-top: .618em;
}

.comment-respond__submit {
    --controlColor: hsl(150deg, 10%, 44%);
    --controlBorderColor: hsl(150deg, 10%, 44%);
    --controlColorInterest: var(--controlColorAffirm);
    --controlBorderColorInterest: var(--controlColorAffirm);
    --controlBackgroundColor: transparent;
    --controlBackgroundColorInterest: transparent;
    --controlBorderWidth: 4px;

    font-weight: bold;
    font-size: var(--baseTextSize);
    padding: .618em;
}

.comment-respond__form:invalid .comment-respond__submit {
    color: var(--controlColorDeactivated);
    border-color: var(--controlBorderColorDeactivated);
}


.comment-respond__field:has([required]) .comment-respond__fieldName::after {
    content: '*';
    color: var(--controlColorAlert);
    font-weight: bold;
}

.comment-respond__field:has([required]:user-valid) .comment-respond__fieldName::after {
    color: var(--controlColorAffirm);
    font-weight: normal;
}

.comment-respond__field:has(:user-invalid:not(:focus)) input {
    color: var(--controlColorAlert);
}

/*
Firefox doesn't support :has so need to be more manual here. lame
*/
@supports not selector(:has(a,b)) {
    .comment-respond__field--comment .comment-respond__fieldName::after,
    .comment-respond__field--author .comment-respond__fieldName::after,
    .comment-respond__field--email .comment-respond__fieldName::after {
        content: '*';
        color: var(--controlColorAlert);
    }

    .comment-respond__form:valid .comment-respond__fieldName::after  {
        color: hsl(150deg, 61%, 44%);
    }
}

.akismet_comment_form_privacy_notice {
    font-size: var(--smallerTextSize);
    margin-left: .618rem;
}

/* ====== COMMENTS ======= */
 
#comments-number {
    margin-bottom: 30px;
}

 
/* === Comment list === */
 
ol.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
ol.comment-list ol.children {
    list-style: none;
}
 
/* === Avatars === */
 
.comment-list .avatar {
    border-radius: 50%;
}

 
/* === Meta === */
 
.comment-meta {
    display: flex;
    font-size: 0.9rem;
    padding-bottom: .618em;
    border-bottom: 1px solid;
    gap: .309em;
    align-items: center;
}

.comment-author .url,
.comment-reply-link {
    color: var(--themeActiveTextColor);
    font-weight: bold;
    border-bottom-color: var(--themeActiveTextColor);
}

.comment-published {
    font-size: var(--smallerTextSize);
}

.comment-reply-link {
    margin-left: auto;
}

/* === Comment text/content === */
 
.comment-content {
    font-size: 0.9rem;
    margin: 0 .618em;
}
 
/* === Reply link === */
 
a.comment-permalink {
    display: none;
}
 
 
.comment {
    text-indent: 0;
    padding: 0.618rem;
    border-radius: 3px;
    background: rgba(89, 162, 178, 0.1);
    margin: 0 0 1.618rem;
}