/* === Alignement (WP classes) === */
.alignleft {
    float: left;
}
 
.alignright {
    float: right;
}
 
.aligncenter {
    margin: 0 auto;
}

/* === Thumbnails === */
.thumbnail {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Social Networks */
 
.social {
    float: right;
}

#poison,
.poison {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    speak: never;
}